
export ENVNAME=CPP


run() {
    xmake
    echo ""
    xmake run resume /doc/work/WUR/data/APPLEMATURITY/transfer_1868746_files_e2d8fb8c/test_masks/test_masks/1662032319_640766208-snap__1_cam0_color_apple10.png /tmp/one.jpg 3
}

export_function run
export_alias lcu "ls -la"
